@font-face {
  font-display: swap;
  font-family: 'Futura PT';
  font-weight: 300;
  src: url('../fonts/futura-pt-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Futura PT';
  font-weight: 400;
  src: url('../fonts/futura-pt-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Futura PT';
  font-weight: 500;
  src: url('../fonts/futura-pt-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Futura PT';
  font-weight: 600;
  src: url('../fonts/futura-pt-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Futura PT';
  font-weight: 700;
  src: url('../fonts/futura-pt-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Agency FB';
  font-weight: 400;
  src: url('../fonts/agency-fb-400.woff2') format('woff2');
}
