.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;

  @media screen and (min-width: 1140px) {
    bottom: 20%;
  }

  &:active {
    cursor: not-allowed;
  }
}
